{% extends 'temp.html' %}
{% block head %}
<h1 style="text-align:center">What's your favourite <span class="redText">c</span><span class="greenText">o</span><span class="blueText">l</span><span class="redText">o</span><span class="greenText">u</span><span class="blueText">r</span><span class="redText">?</span></h1>
{% endblock %}
{%block body%}
<p align="center"><a href=dropdown ><button class=grey style="height:75px;width:150px">Choose only one!</button></a></p>
<p align="center"><a href=check ><button class=grey style="height:75px;width:150px">Pick'em All!</button></a></p>
<p align="center"><a href=toggle ><button class=grey style="height:75px;width:150px">Pushing your buttons yet?</button></a></p>
{%endblock%}
