{% extends 'temp.html' %}
{% block head %}
<h1>Check all of your favourite colour here:</h1>
{% endblock %}

{%block body%}

<label for="red"><p style="color:red">Red:</label>   
<input type="checkbox" id="red"></p>

<br><label for="blue"><p style="color:blue">Blue:</label>
<input type="checkbox" id="blue"></p>

<br><label for="green"><p style="color:green">Green:</label>
<input type="checkbox" id="green" ></p>



<form action="/">
  <input type="submit" value="Back">
</form>

<p>Click the "Back" button to go back to the home page.</p>
</select>

{%endblock%}
